.btn{
}

.primary{
    background: blue;
    :hover{
        background: darkblue;
    }
}

.danger{
    background: red;
    :hover{
        background: darkred;
    }
}

.success{
    background: green;
    :hover{
        background: darkgreen;
    }
}